.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px
}

.joinButton {
    background-color: #BCE1B0;
    margin: 20px;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #000
}

.joinButton:hover {
    opacity: 0.5;
}
